<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Excuse Generator</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <script src="static/js/excuseGenerator.js" defer></script>
  </head>
  <body>
    <div>
      <h1>Excuse Generator</h1>
      <button onclick="generateExcuse()">Generate Random Excuse</button>
      <div id="generated-excuse"></div>
    </div>
  </body>
</html>
